<ul class="social_links">
    <li><a title="linkedin" href="//om.linkedin.com/in/sufialhussaini" target="_blank"><span class="icon-linkedin-squared" id="social_linkedin"></span></a></li>
    <li><a title="github" href="//github.com/Sufi-Al-Hussaini" target="_blank"><span class="icon-github-circled" id="social_github"></span></a></li>
    <li><a title="envelope" href="mailto:sufialhussaini@gmail.com" target="_blank"><span class="icon-mail" id="social_mail"></span></a></li>
    <li><a href="/feed.xml"><span class="icon-rss" id="social_rss"></span></a></li>
</ul>