{% capture temptags %}
  {% for tag in site.tags %}
    {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
  {% endfor %}
{% endcapture %}
{% assign sortedtemptags = temptags | split:' ' | sort | reverse %}
<article class="post">
	<h1>Tags</h1>
    <h2 class="headline">
    {% if page.tags != '' %}
        <span>
            {% for temptag in sortedtemptags %}
				{% assign tagitems = temptag | split: '#' %}
				{% capture tagname %}{{ tagitems[1] }}{% endcapture %}
				<a href="/tag/{{ tagname }}"><code class="tag"><nobr>{{ tagname }}</nobr></code></a>
			{% endfor %}
        </span>
    {% endif %}
    </h2>
</article>
